.forgot-password-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh; /* Centers the form vertically */
    background-color: #f4f4f4; /* Light background color for the form container */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 400px; /* Maximum width to limit size on larger screens */
    margin: auto; /* Center horizontally */
  }
  
  .forgot-password-header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #00134d; /* Darker color for the header */
    text-align: center; /* Center-align the heading text */
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width within the container */
  }
  
  .forgot-password-input {
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px;
  }
  
  .forgot-password-button {
    padding: 10px;
    background-color: #00134d; /* Green background color */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover */
  }
  
  .forgot-password-button:hover {
    background-color: #00134d; /* Darker green on hover */
  }
  
  .forgot-password-button:disabled {
    background-color: #00134d; /* Lighter green when disabled */
    cursor: not-allowed;
  }
  
  .forgot-password-message {
    margin-top: 20px;
    color: #666; /* Gray color for the message text */
    text-align: center; /* Center-align the message text */
  }
  
  /* Media Query for Smaller Screens */
  @media (max-width: 480px) {
    .forgot-password-div {
      padding: 15px;
      width: 100%; 
      box-shadow: none;
      border-radius: 0; 
      height: auto;
    }
  
    .forgot-password-header {
      font-size: 20px; /* Smaller font size for smaller screens */
    }
  
    .forgot-password-input,
    .forgot-password-button {
      font-size: 14px; /* Adjust font size for inputs and button */
      padding: 8px; /* Smaller padding for a more compact design */
    }
  }
  